.DS_Store
/*.iml
/*.ipr
/*.iws
/*.log
/*.sha1
/*.zip
/.classpath
/.project
/.settings
/cobertura.ser
stacktrace.log
*Db.properties
*Db.script
/plugin.xml
/*DB.*
/.idea
/.link_to_grails_plugins
/out
/target
/target-eclipse
/web-app
